<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
               
		<title>Multimedia Showcase</title>
		
		<link rel="stylesheet" type="text/css" media="only screen and (min-width:401px) and (max-width:2800px)"    href="css/screen_layout_medium.css" />
		<link rel="shortcut icon" href="img/logo.png" type="image/x-icon"/>
		<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		
		<!--[if lt IE 9]>
					<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	<body>
		<div class="page">
			<header>
				<a href="index.php">
					<img src="img/logo.png" alt="logo">
				</a>
				<h3>"A Showcase of Students talent in<br>Multimedia Programming & Design"</h3>
				<img class="textLogo" src="img/typeLogo.png" alt="LIT Multimedia Showcase">
			</header>
			<nav>
				<div class="menuHolder">
					<a href="index.php">Home</a>
					<a href="gallery.php">Gallery</a>
					<a class="home" href="about.html">About</a>
					
					<div class="menuLogin">
						<a href="#">Register</a>
						
						<a href="#">Login</a>
					</div>
				</div>
					
			</nav>
			<div class="mainAbout">
				<div class="programme">
				
				<div class="aboutHeaders"><h2> The Programme </h2></div>
				<div class="programmeContent">
				<p>
				Multimedia is a discipline that offers rewarding and challenging possibilities for a wide range of people.<br> 
				This programme requires and develops capabilities in solving deep, multidimensional problems through practical appreciation
				of design concepts, development techniques and technical skills. This programme aims to give students the knowledge 
				and skills in the design and programming of computer-based interactive products that incorporate text, graphics, sound,
				digital illustration, animation and video.
				</p>
				</div>
				</div>
				
				<div class="job">
					<div class="jobHeader"><h2> Job Opportunities </h2></div>
					<div class="jobContent"><p>
						• Interactive Designer<br>• Web Developer<br>• Java Developer<br>• Multimedia Developer<br>
						• Multimedia Programmer<br>• App Developer<br>• Digital Video Specialist<br>
						• Motion Graphic Designer<br>• Database Developer<br>• User Interface Designer<br>
						• Designer<br>• eLearing Specialist<br>• Software Support Engineer<br>• Multimedia Concept Specialist<br>				
						</p>
					</div>
					<div class="jobHeader"><h2> Years </h2></div>
					<div class="jobContent"><p>
						Year 1: 25 hours per week<br> 
						Year 2: 25 hours per week<br> 
						Year 3: 22 hours per week<br>
						<span style="padding-left:3.3em">6 months work placement<br>
						Year 4: 17 hours per week<br> 
						</p>
					</div>
				</div>
				
				<div class="contactA">
				<div class="aboutHeaders"><h2> Contact </h2></div>
				<div class="aboutContentHeaders">
				<span style="padding-left:12px">Course Contact<span style="padding-left:200px">School Contact
				</div>
				<div class="aboutContent">
				<span style="padding-left:12px">Elizabeth Bourke, Programme Leader<span style="padding-left:95px">Email: aset@lit.ie<br>
				<span style="padding-left:12px">Email: elizabeth.bourke@lit.ie<span style="padding-left:139px">Telephone; 061 293000<br>
				<span style="padding-left:12px">Telephone; 061 293330<span style="padding-left:185px">Fax: 061 293001
				</div>
				</div>
				
				<div class="message">
				<div id="contact-form" class="clearfix">
				<h1>Send A Message</h1>	
				<form method="post" action="process.php">
				<label for="email">Email:</label>
				<input type="email" id="email" name="email" value="" required="required" autofocus="autofocus" />
				<label for="name">Subject:</label>
				<input type="text" id="name" name="name" value="" required="required"/>
				<label for="message">Message:</label>
				<textarea id="message" name="message" value=""></textarea>
				<input type="submit" value="Submit" id="submit-button" />
				</form>
				</div>
				</div>
				
				<div class="studentSay">
				<div class="jobHeader"><h2> Student Say </h2></div>
				<div class="studentSayImage"></div>
				<div class="studentSayContent"><p><img src="img/studentMale.jpg" class="half left" alt="StudentPic" height="60px" width="60px">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fringilla egestas urna ac commodo.
				Praesent sem nulla, auctor vel metus at, ullamcorper dapibus sem. Mauris cursus ante id pulvinar aliquet.
				Donec congue in ante et gravida. Vivamus facilisis malesuada tincidunt. Morbi quis erat a orci pretium pharetra.
				</p>
				</div>
				</div>
				
				
			</div>
				
			
			<footer>
				<div class="socialMedia">
					<h3>Social Media</h3>
					<a href="https://twitter.com/limerickit">
						<img class="twitterLogo" src="img/twitterLogo.png" alt="Twitter Logo">
					</a>
					
					<a href="https://www.facebook.com/multimedia.lit/">
					<img class="faceBookLogo" src="img/faceBookLogo.png" alt="Facebook Logo">
					</a>
				</div>
				<div class="exploreMenu">
					<h3>Explore the Showcase</h3>
					<div class="footerMenu">
						<a href="#">Design</a>
						<a href="#">Web</a>
						<a href="#">Video</a>
						<a href="#">3D</a>
					</div>
					<p>
						Copyright &copy Multimedia Year 3
					</p>
				</div>
				<div class="litAddress">
					<h3>LIT</h3>
					<p>
					Limerick Institute of Technology<br>
					Moylish Campus<br>
					Limerick</p>
					<a href="http://lit.ie/default.aspx/">
						<img class="litLogo" src="img/litLogo.png" alt="LIT Logo">
					</a>	
				</div>
			</footer>
		</div>
	</body>
</html>
